<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webatypique_indexnow_general>
            <general>
                <enabled>0</enabled>
                <api_key></api_key>
                <endpoint_url>https://api.indexnow.org/indexnow</endpoint_url>
            </general>
        </webatypique_indexnow_general>
    </default>

</config>
